/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  .titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: min-content;
    width: auto;
  }

  .avatar-dev img {
    display: flex;
  }
}

@media (max-width: 840px) {
  .sobre-text {
    display: contents;
  }
}

@media (min-width: 560px) {
  .projetos .grid {
    grid-template-columns: 240px 240px;
  }
}

/* Ajustar tela até 640 e 736 e 812 e 768 */

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1098px) {
  .projetos .grid {
    grid-template-columns: repeat(3, 350px);
    height: 250px;
    align-content: center;
    justify-content: center;
  }

  .sobre .grid {
    grid-template-columns: 200px 200px;
    display: flex;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
