/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: auto 100vh;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

header {
  height: 100vh;
  background-color: #0d1117;
}

header a {
  color: white;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.navbar-toggler {
  background-color: white;
}

.navbar-nav li {
  margin: 0px 15px 0px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.navbar-nav a:hover,
.navbar-nav a:active {
  color: white;
}

.titulo {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
}

.titulo h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 43px;
}

.titulo h2 {
  font-family: "Russo One";
  font-size: 46px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.title,
.header-h2,
.title-p {
  background-image: linear-gradient(
    to right top,
    #a786d9,
    #8d91e5,
    #6f9bec,
    #4ba3ee,
    #12abeb
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.titulo p {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}

.perfil img {
  width: 35%;
  padding-top: 10%;
  margin-left: 40em;
}

.sobre,
.projetos {
  padding: 2em;
  min-height: 100vh;
  color: white;
}

.contato h2,
.projetos h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 2em;
  padding: 2em 2em 0em 2em;
}

.sobre p {
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre h2 {
  font-weight: 700;
}

.sobre hr {
  margin-left: 0px;
}

hr {
  background-color: #fff !important;
  color: #fff !important;
  border: solid 2px #fff !important;
  height: 5px !important;
  width: 75px !important;
  margin-bottom: 90px;
  margin-left: 82px;
}

.avatar-dev img {
  border-radius: 50%;
  max-width: 15em;
}

.avatar-criative img {
  max-width: 16em;
}
.sobre {
  background-color: #273238;
  padding: 50px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sobre .avatar-dev img {
  float: right;
}

.sobre .avatar-criative {
  float: left;
  margin-right: 3em;
}

.sobre-text {
  width: 600px;
  margin-left: 100px;
}

.contato {
  background-color: #212121;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.text-contato {
  color: white;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
}

.skills,
.projetos,
.sobre {
  position: relative;
}

.projetos:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #273238;
}

.projetos .grid {
  display: grid;
  gap: 1em;
}

.sobre .grid {
  display: grid;
  gap: 1em;
}

.projetos figure {
  margin-bottom: 0;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
}

.projetos figure:hover {
  -webkit-transform: scale(1.1);
  transition: 0.8s;
  object-fit: none;
  box-shadow: 0px 0px 10px rgba(128, 225, 255, 0.794);
}

.img-projetos {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 30px 60px rgba(47, 46, 46, 0.5);
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: white;
  font-size: 4em;
  transition: text-shadow 1s;
  text-decoration: none;
  padding: 10px;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  transition: 0.2s;
  text-shadow: 0px 0px 10px rgba(128, 225, 255, 0.794);
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.container-colors {
  display: flex;
  min-height: 110vh;
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  text-align: justify;
  vertical-align: baseline;
}

.container-right {
  background-color: #3f51b5;
  color: white;
  width: 50%;
  padding: 10%;
}
.container-left {
  background-color: #212121;
  color: white;
  width: 50%;
  padding: 10%;
}

.container-colors h2 {
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
}

.container-colors p {
  margin-top: 30px;
  font-weight: 500;
  font-size: 23px;
  line-height: 42px;
  opacity: 0.65;
}

.active.fade-left {
  animation: fade-left 0.7s ease-in;
}

.active.fade-right {
  animation: fade-right 0.7s ease-in;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

html,
body {
  background-color: #222c32;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20%;
  border-radius: 2px;
}
.cd-container::after {
  content: "";
  display: table;
  clear: both;
}

.title-h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 2em;
  padding: 2em 2em 0em 2em;
}

/* --------------------------------

Main components

-------------------------------- */

#experiencia {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#experiencia::before {
  content: "";
  position: absolute;
  top: 22%;
  left: 25px;
  height: 76%;
  width: 3.5px;
  background: #7e57c2;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7e57c2, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #673ab7;
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #333c42;
  border-radius: 2px;
  padding: 1em;
}

.cd-timeline-content .content-skills {
  font-size: 12px;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-skills li {
  background: #40484d;
  border-radius: 2px;
  display: flex;
  padding: 2px 3px;
  color: rgba(255, 255, 255, 0.7);
  margin: 3px 2px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30;
}

.timeline-content-info i {
  margin-right: 5px;
}

.timeline-content-info-title,
.timeline-content-info-date {
  width: calc(50% - 2px);
  display: inline-block;
}

.timeline-content-info {
  background: #2b343a;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 5px;
}
.cd-timeline-content p,
.cd-timeline-content .cd-date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333c42;
}

.cd-date {
  padding: 30px;
}

.icons-timeline {
  width: 23px;
}

.skills {
  min-height: 110vh;
  background-color: #3e464c;
  padding: 5%;
  color: white;
  font-weight: 500;
  font-family: "Roboto";
  width: 100%;
}

.skills .content-chart {
  margin-bottom: 0;
  border-radius: 5px;
  padding: 40px;
  text-align: center;
}

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.pie {
  --p: 20;
  --b: 22px;
  --c: darkred;
  --w: 150px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
      var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
}
.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - var(--w) / 2));
}
.animate {
  animation: p 1s 0.5s both;
}
.no-round:before {
  background-size: 0 0, auto;
}
.no-round:after {
  content: none;
}
@keyframes p {
  from {
    --p: 0;
  }
}

.container-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
