/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: auto 100vh;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

header {
  height: 100vh;
  background-color: #212121;
}

header a {
  color: white;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.navbar-toggler {
  background-color: white;
}

.navbar-nav li {
  margin: 0px 15px 0px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.navbar-nav a:hover,
.navbar-nav a:active {
  color: white;
}

.titulo {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
}

.titulo h1 {
  font-family: "Sawarabi Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 43px;
}

.titulo h2 {
  font-family: "Russo One";
  font-size: 46px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.titulo p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
}

.perfil img {
  width: 35%;
  padding-top: 10%;
  margin-left: 40em;
}

.sobre,
.projetos {
  padding: 2em;
  min-height: 100vh;
  color: white;
}

.contato h2,
.projetos h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 2em;
  padding: 2em 2em 0em 2em;
}

.sobre p {
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre h2 {
  font-weight: 700;
}

.sobre hr {
  margin-left: 0px;
}

hr {
  background-color: whitesmoke !important;
  color: whitesmoke !important;
  border: solid 2px whitesmoke !important;
  height: 5px !important;
  width: 75px !important;
  color: whitesmoke;
  margin-bottom: 90px;
  margin-left: 82px;
}

.avatar-dev img {
  border-radius: 50%;
  max-width: 15em;
}

.avatar-criative img {
  max-width: 16em;
}
.sobre {
  background-color: #3e464c;
  padding: 50px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sobre .avatar-dev img {
  float: right;
}

.sobre .avatar-criative {
  float: left;
  margin-right: 3em;
}

.sobre-text {
  width: 600px;
  margin-left: 100px;
}

.contato {
  background-color: #212121;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.text-contato {
  color: white;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
}

.projetos,
.sobre {
  position: relative;
}

.projetos:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #273238;
}

.projetos .grid {
  display: grid;
  gap: 1em;
}

.sobre .grid {
  display: grid;
  gap: 1em;
}

.projetos figure {
  margin-bottom: 0;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
}

.projetos figure:hover {
  -webkit-transform: scale(1.1);
  transition: 0.8s;
  object-fit: none;
  box-shadow: 0px 0px 10px rgba(128, 225, 255, 0.794);
}

.img-projetos {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 30px 60px rgba(47, 46, 46, 0.5);
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: white;
  font-size: 4em;
  transition: text-shadow 1s;
  text-decoration: none;
  padding: 10px;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(128, 225, 255, 0.794);
}
